<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - REDDIT</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/REDDIT.styles.css" asp-append-version="true" />

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.6.2/js/bootstrap.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    <link href='https://cdn.boxicons.com/3.0.6/fonts/basic/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid ">
                <img class="logo" src="~/images/Reddit_Logo.png" asp-append-version="true" />
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">reddit</a>
            <div class="d-flex justify-content-center flex-grow-1 px-3">
                <form class="form-inline w-100 position-relative" style="max-width:600px; color:black;"> 
                    <i class="bx bx-search search-icon"></i>
                    <input class="form-control search-box" type="search" placeholder="Search Reddit" aria-label="Search">
                </form>
            </div>


                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between"> 
            <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="bx bx-copy"  style='color:black; font-size: 24px; text-decoration: none; padding: 6px 6px;' asp-area="" asp-controller="Home" asp-action="Adds"></a>
                </li>
                <li class="nav-item">
                    <a class="bx bx-message-bubble-dots"  style='color:black; font-size: 24px; text-decoration: none; padding: 6px 6px;' asp-area="" asp-controller="Home" asp-action="Index"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-pill-link" asp-area="" asp-controller="Home" asp-action="Create">
                        <i class='bx bx-plus-square' style='font-size: 24px;'></i>
                        <span>Create</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="bx bx-bell"  style='color:black; font-size: 24px; text-decoration: none; padding: 6px 6px;' asp-area="" asp-controller="Home" asp-action="Index"></a>
                </li>
            </ul>
            <img class="icon" src="~/images/icon.png" asp-append-version="true" />
        </div>
        </nav>
    </header>
<div class="container-fluid">
        <div class="row">
            <!-- Toggle Button - Always Visible -->
            <button class="btn btn-light rounded-circle toggle-btn" type="button" id="sidebarToggle">
                <i class='bx bx-menu'></i>
            </button>
            
            <!-- Collapsible Sidebar -->
            <nav id="sidebar" class="col-md-3 col-lg-2 sidebar">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class='bx bx-home'></i> Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Popular">
                                <i class='bx bx-arrow-in-up-right-circle'></i> Popular
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Answers">
                                <i class='bx bx-webhook'></i> Answers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Explore">
                                <i class='bx bx-circles'></i> Explore
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">
                                <i class='bx bx-bar-chart-square'></i> All
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">
                                <i class='bx bx-plus'></i> Start a community
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Main Content Area -->
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4 main-content">
                <div class="pb-3">
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>



    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - REDDIT - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
