html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.logo{
    height: 40px;
}

.icon{
    height: 50px;
    padding: 6px 16px;
    border-radius: 100%;
}

.navbar-brand {
  margin-left: 3px;
  font-family: "Reddit Sans", sans-serif;
  font-size: 28px;
  font-weight: 900;
  font-style: normal;
  color: #FF4500; 
}

.search-box {
    border-radius: 25px; 
    width: 300px
}

.nav-pill-link {
      display: flex;              
      align-items: center;       
      gap: 8px;               
      
      background-color: #eaedef00; 
      border-radius: 999px;     
     
      
      padding: 6px 16px;          
      color: black;             
      text-decoration: none;      
      transition: background-color 0.2s;
  }

  .nav-pill-link:hover {
      background-color: #d3d6da; 
      color: black;              
      text-decoration: none;     
  }

  .nav-pill-link span {
      font-weight: 600;         
      font-size: 15px;        
      line-height: 1;         
  }
